.map{
    position: relative;
    height: 400px;
    background: #eee;
}
.map > nav{
    position: absolute;
    top: 0;
    z-index: 10000;
}
.map > nav > ul{
    list-style: none;
}
.map > nav > ul > li{
    display: inline-block;
    margin: 0 1em 0 0;
}
.map > nav > ul > li > a{
    display: inline-block;
    width: 1.5em;
    line-height: 1.3em;
    background: #444;
    color: #fff;
    font-size: 150%;
    text-align: center;
    text-decoration: none;
    border-radius: 0.2em;
}
.map .crosshair{
    position: absolute;
    left: 50%;
    top: 50%;
    /*margin-left: -10px;*/
    margin-top: -10px;
    z-index: 10000;
}